* body{
  background-color: black;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    color: #ffffff;
  }
  
  input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #c20a0a;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #resultados {
    margin-top: 20px;
    text-align: left;
    min-height: 200px;
  }
  
  .movie {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #c20a0ac4;
    border-radius: 5px;
    min-height: 150px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .movie img {
    min-height: 150px;
    width: 100px;
    float: left;
    margin-right: 10px;
    
  }
  
  .movie h2 {
    font-size: 18px;
    margin-top: 0;
  }
  
  .movie p {
    margin: 5px 0;
  }

  .details{
    color:rgb(0, 0, 160);
    font-weight: 600;
  }
  